<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, eos cum
        ducimus enim deserunt non, est sed fuga, dolorem accusantium esse
        sapiente earum dignissimos quis. Possimus, quis. Dolorem, nemo sapiente.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
        ab voluptatum cupiditate neque quisquam est culpa id quia earum tempore,
        ex sit dolores et? Illo eligendi quas mollitia voluptatum ratione!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum similique
        sequi, esse corporis assumenda odio reiciendis, dolore impedit pariatur
        totam consequatur ducimus dicta officia placeat beatae quia laborum odit
        aliquid.
      </p>
    </div>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
